@model Xerife.Entities.Projeto

@{
    ViewBag.Title = "Projeto";
    ViewBag.SubTitle = "Editar";
}

@section Menu {
    @Scripts.Render("~/Scripts/Tfs/all.js")
    @Scripts.Render("~/Scripts/Channel/all.js")
    @Scripts.Render("~/Scripts/Shared/all.js")
    @Scripts.Render("~/Scripts/Projeto/all.js")
}

<div class="row">
    <div class="col-md-12">
        <form role="form">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dados do Projeto</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>Projeto no Channel</label>
                            <select id="ddProjeto" class="form-control" disabled="disabled" data-placeholder="Selecione o projeto do Channel">
                                <option value="@Model.IdChannel" selected="selected">@Model.Nome</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>TFS</label>
                            <select id="ddTfs" class="form-control" data-placeholder="Selecione o servidor do TFS">
                                <option value=""></option>
                                <option value="http://bacutia:8080/tfs/">Bacutia</option>
                                <option value="http://solemar:8080/tfs/">Solemar</option>
                                <option value="http://gunga:8080/tfs/">Gunga (Homologação)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Unidade</label>
                            <select id="ddCollection" class="form-control" data-placeholder="Selecione a Unidade">
                                @Html.Raw(ViewBag.tfsCollections)
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Contrato</label>
                            <select id="ddProject" class="form-control" data-placeholder="Selecione o Contrato">
                                @Html.Raw(ViewBag.tfsProjects)
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Equipe</label>
                            <select id="ddTeam" class="form-control" data-placeholder="Selecione a Equipe">
                                @Html.Raw(ViewBag.listaTeams)
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Projeto no TFS</label>
                            <select id="ddAreaPath" class="form-control" data-placeholder="Selecione a Área">
                                @Html.Raw(ViewBag.areaPath)
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Tarefas do Projeto <small>Selecione tarefas que serão usadas para apontamento no TFS</small></h3>
                </div>
                <div class="box-body" style="padding-left: 30px; padding-right: 20px;">
                    <div id="tarefas" class="row">

                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" id="btnTodasTarefas" style="display: none;" class="btn btn-info btn-xs">Exibir todas as tarefas</button>
                </div>
            </div>
            <div class="box-footer">
                <button id="btIncluir" type="submit" class="btn btn-primary">Gravar</button>
                <a href="@Url.Action("Index", "Projeto")" class="btn btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>
<script>
    var id = '@ViewBag.idProjeto';
    var idProjeto = 0;
    var tarefasSelecionadas =  @Html.Raw(Json.Encode(@ViewBag.listaTarefasSelecionadas));
    var listaIteracoesSelecionadas = @Html.Raw(Json.Encode(@ViewBag.listaIteracoesSelecionadas));

    if (id != null && id != '') {
        idProjeto = parseInt('@ViewBag.idProjeto');
    }

    $(document).ajaxStart(function () { Pace.restart(); });
    $(document).ready(function () {
        $('select#ddTfs').val('@Model.TfsUrl');
        $('select#ddCollection').val('@Model.TfsCollection');
        $('select#ddProject').val('@Model.TfsProject');
        $('select#ddTeam').val('@Model.TfsTeam');

        $("select#ddAreaPath").val('@Model.TfsAreaPath');

        $("select#ddProjeto").chosen();
        $("select#ddTfs").chosen();
        $("select#ddCollection").chosen();
        $("select#ddProject").chosen();
        $("select#ddTeam").chosen();
        $("select#ddAreaPath").chosen();

        GetProjetosChannel(function (projetoList) {
            var projeto = $('select#ddProjeto').val();

            $.each(projetoList, function (i, val) {
                $("select#ddProjeto").append($('<option></option>').val(val.idProjeto).html(val.nomeProjeto));
            });
            $("select#ddProjeto").trigger("chosen:updated");

            gerarTarefas(projeto, true, tarefasSelecionadas);
        });
    })
</script>