<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Watcher</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/AdminLTE/plugins/font-awesome/css/all.css")
    @Styles.Render("~/AdminLTE/plugins/ionicons/css/all.css")
    @Styles.Render("~/AdminLTE/bootstrap/css/all.css")
    @Styles.Render("~/AdminLTE/dist/css/all.css")
    @Styles.Render("~/AdminLTE/dist/css/skins/all.css")
    @Scripts.Render("~/AdminLTE/plugins/jquery/js/all.js")
    @Scripts.Render("~/Scripts/Shared/_Layout/all.js")
    @Scripts.Render("~/AdminLTE/plugins/pace/js/all.js")
    @Styles.Render("~/AdminLTE/plugins/pace/css/all.css")
    @Scripts.Render("~/AdminLTE/plugins/chosen/js/all.js")
    @Styles.Render("~/AdminLTE/plugins/chosen/css/all.css")

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "Home")" class="logo">
                <span class="logo-mini"><b>W</b></span>
                <span class="logo-lg"><b>W</b>atcher</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        @*@Html.Partial("_LoginPartial")*@
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@*@User.Identity.GetUserNameIdentifier()*@</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="sidebar-menu">
                    <li class="header">Menu</li>
                    @if (this.User.IsInRole("Administrador") || this.User.IsInRole("Gerente") || this.User.IsInRole("PMO") || this.User.IsInRole("Infra"))
                    {
                        <li id="left-sidebar-menu-dashboard" class="treeview">
                            <a href="#">
                                <i class="fa fa-cog"></i> <span>Administração</span><i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li id="left-sidebar-menu-parametro"><a href="@Url.Action("Index", "ParametroSistema")"><i class="fa fa-circle-o"></i>Parâmetros</a></li>

                                @if (this.User.IsInRole("Administrador"))
                                {
                                    <li id="left-sidebar-menu-usuario"><a href="@Url.Action("Index", "Usuario")"><i class="fa fa-circle-o"></i>Usuários</a></li>
                                }
                            </ul>
                        </li>
                    }
                    @if (this.User.IsInRole("Administrador") || this.User.IsInRole("Gerente") || this.User.IsInRole("PMO"))
                    {
                        <li id="left-sidebar-menu-dashboard" class="treeview">
                            <a href="#">
                                <i class="fa fa-suitcase"></i> <span>Projetos</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li id="left-sidebar-menu-dashboard-dashboardV1"><a href="@Url.Action("Index", "Projeto")"><i class="fa fa-circle-o"></i>Cadastro</a></li>
                                <li id="left-sidebar-menu-dashboard-dashboardV1"><a href="@Url.Action("Index", "LogIntegracao")"><i class="fa fa-circle-o"></i>Log Integração</a></li>
                            </ul>
                        </li>
                    }
                    @if (this.User.IsInRole("Administrador") || this.User.IsInRole("Infra") || this.User.IsInRole("Gerente"))
                    {
                        <li id="left-sidebar-menu-dashboard" class="treeview">
                            <a href="#">
                                <i class="fa fa-expeditedssl"></i> <span>VPN</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li id="left-sidebar-menu-dashboard-dashboardV1"><a href="@Url.Action("Index", "UsuarioVpns")"><i class="fa fa-circle-o"></i>Manter Acesso</a></li>
                                <li id="left-sidebar-menu-dashboard-dashboardV1"><a href="@Url.Action("Index", "VpnHistorico")"><i class="fa fa-circle-o"></i>Consultar Histórico</a></li>
                            </ul>
                        </li>
                    }
                    <li id="left-sidebar-menu-dashboard" class="treeview">
                        <a href="#">
                            <i class="fa fa-search"></i> <span>Consultas</span><i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">

                            @if (this.User.IsInRole("Administrador") || this.User.IsInRole("Gerente"))
                            {
                                <li id="left-sidebar-menu-consulta-capacidade-colaborador"><a href="@Url.Action("CapacidadeColaborador", "Consultas")"><i class="fa fa-circle-o"></i>Capacidade/Colaborador</a></li>
                            }
                            <li id="left-sidebar-menu-consulta-proxima-entrega"><a href="@Url.Action("ProximasEntregas", "Consultas")"><i class="fa fa-circle-o"></i>Próximas Entregas</a></li>
                        </ul>
                    </li>
                    <li id="left-sidebar-menu-dashboard" class="treeview">
                        <a href="#">
                            <i class="fa fa-check"></i> <span>Baseline</span><i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="left-sidebar-menu-basline-gerar"><a href="@Url.Action("GerarBaseline", "Baseline")"><i class="fa fa-circle-o"></i>Gerar Baseline</a></li>
                            <li id="left-sidebar-menu-basline-gerar"><a href="@Url.Action("GerarBaselinePlanejamento", "Baseline")"><i class="fa fa-circle-o"></i>Gerar Planejamento</a></li>
                            <li id="left-sidebar-menu-baseline-auditar"><a href="#"><i class="fa fa-circle-o"></i>Auditar Baseline</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            @if (ViewBag.ErroMessage != null)
            {
                <div class="alert alert-danger alert-dismissible" style="margin-left: 5px; margin-right:5px;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Atenção!</h4>
                    @ViewBag.ErroMessage
                </div>
            }
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>@ViewBag.SubTitle</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Versão</b> 1.1
            </div>
            <strong>&nbsp;</strong>
        </footer>
        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </aside>
        <div class="control-sidebar-bg"></div>
    </div>
    @RenderSection("menu", required: false)
    @Scripts.Render("~/AdminLTE/bootstrap/js/all.js")
    @*@Scripts.Render("~/AdminLTE/plugins/slimscroll/js")*@
    @*@Scripts.Render("~/AdminLTE/plugins/fastclick/js")*@
    @Scripts.Render("~/AdminLTE/dist/js/all.js")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    window.urlBase = '@Url.Content("~/")';
</script>